USE [master]
GO
/****** Object:  Database [PracticaProgramada]    Script Date: 2/18/2024 12:25:35 AM ******/
CREATE DATABASE [PracticaProgramada]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PracticaProgramada', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PracticaProgramada.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PracticaProgramada_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\PracticaProgramada_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PracticaProgramada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PracticaProgramada]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2/18/2024 12:25:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LISTAS]    Script Date: 2/18/2024 12:25:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LISTAS](
	[NOMBRELISTA] [varchar](500) NOT NULL,
	[NOMBREACTVIDAD] [varchar](500) NULL,
	[FECHAHACER] [date] NULL,
	[ESTADO] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[NOMBRELISTA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 2/18/2024 12:25:35 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usario] [varchar](150) NULL,
	[Password] [varchar](150) NULL,
	[Correo] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[LISTAS] ([NOMBRELISTA], [NOMBREACTVIDAD], [FECHAHACER], [ESTADO]) VALUES (N'Estudio', N'Repasar ciencias', CAST(N'2021-01-23' AS Date), N'completa')
INSERT [dbo].[LISTAS] ([NOMBRELISTA], [NOMBREACTVIDAD], [FECHAHACER], [ESTADO]) VALUES (N'Oficio', N'Pesas', CAST(N'2024-02-24' AS Date), N'completa')
INSERT [dbo].[LISTAS] ([NOMBRELISTA], [NOMBREACTVIDAD], [FECHAHACER], [ESTADO]) VALUES (N'Tareas de la casa', N'Barrer', CAST(N'2020-12-12' AS Date), N'completa')
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([Id], [Usario], [Password], [Correo]) VALUES (1, N'Majo', N'1234', N'mariajose@gmail.com')
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
USE [master]
GO
